<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        display: flex;
        height: 610px;
        width: 1250px;
        margin: 0em;
      }
      nav {
        background-color: palevioletred;
        width: 200px;
        height: 100%;
      }
      header {
        background-color: rgb(235, 213, 88);
        width: 1050px;
        height: 100px;
      }
      .contain {
        display: flex;
      }
      article {
        width: 700px;
        height: 410px;
      }
      aside {
        background-color: mediumspringgreen;
        width: 350px;
        height: 410px;
      }
      footer {
        background-color: rgb(235, 213, 88);
        width: 1050px;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <nav>Nav</nav>
    <div>
      <header>Header</header>
      <div class="contain">
        <article>Article</article>
        <aside>Aside</aside>
      </div>
      <footer>Footer</footer>
    </div>
  </body>
</html>