<!DOCTYPE html>
<html lang="id">
  <head>
    <title>Praktikum 6.1</title>
    <style>
      #container1 {
        display: flex;
        justify-content: space-around;
      }
      .box1 {
        border: 2px solid grey;
      }
      .box2 {
        border: 2px solid grey;
      }
      .box3 {
        border: 2px solid grey;
      }

      #container2 {
        display: flex;
        justify-content: space-around;
      }
      .box4 {
        border: 2px solid grey;
      }
      .box5 {
        border: 2px solid grey;
      }
      .box6 {
        border: 2px solid grey;
      }
      .box7 {
        border: 2px solid grey;
      }
      .box8 {
        border: 2px solid grey;
      }
    </style>
  </head>
  <body>
    <div id="container1">
      <div class="box1"><img src="Centaur.jpg" alt="centaur" width="150px" /></div>
      <div class="box2"><img src="Hippocampus.jpg" alt="hipoocampus" width="150px" /></div>
      <div class="box3"><img src="Hydra.jpg" alt="hydra" width="150px" /></div>
    </div>
    <div id="container2">
      <div class="box4"><img src="Pegasus.jpg" alt="pegasus" width="150px" /></div>
      <div class="box5"><img src="Phoenix.jpg" alt="phoenix" width="150px" /></div>
      <div class="box6"><img src="Chimera.jpg" alt="chimera" width="150px" /></div>
      <div class="box7"><img src="Griffin.jpg" alt="griffin" width="150px" /></div>
      <div class="box8"><img src="Unicorn.jpg" alt="unicorn" width="150px" /></div>
    </div>
  </body>
</html>